BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Always indent inside namespaces
IndentNamespaceContents: All

# Keep functions/loops consistently indented
BraceWrapping:
  AfterNamespace: true
  AfterClass: true
  AfterFunction: true
  AfterControlStatement: true
  AfterStruct: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

